/*h1{
    background-color:antiquewhite;
}
h2{
    background-color:lightgray;
}
    */
    /*id based selector
    #first{
        background-color:antiquewhite;
    }
    #second{
        background-color:lightpink;
    }
    #third{
        background-color:lightblue;
    }
    #fourth{
        background-color:lightgray;
    } 
        
    */
    /*class based selector
    .first{
        background-color:antiquewhite;
    }
    .second{
        background-color:lightpink;
    }
    */
    /*grouping selector*/
    h1,.first{
        background-color:antiquewhite;
    }
    